#members {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

/* GRID VIEW */
#members.grid .card {
  flex: 1 1 250px;
}

/* LIST VIEW */
#members.list {
  flex-direction: column;
}

/* LIST CARDS */
#members.list .card {
  display: flex;
  flex-direction: column;
}